<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="taskremake.css">
    <link rel="stylesheet" href="">
    <link rel="stylesheet" media="all" type="text/css" href="asset/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" media="all" type="text/css" href="asset/fonts/font-awesome/css/font-awesome.min.css">
</head>
<body>
    <!-- Banner -->
    <section class="banner">
        <div class="banner-slide-show">
            <img src="image-task/banner-final.png" alt="">
        </div>
    </section>
    <!-- End banner -->
    <!-- Top header -->
    <section class="top-header">
        <!-- Header -->
        <header>
            <div class="logo">
                <a href="#" class="pull-left"><img src="image-task/logo.png" alt="" height="80px"></a>
            </div>    
            <nav class="nav pull-left">
                <ul>
                    <a href="#"><li>Stories <i class="fa fa-angle-down" aria-hidden="true"></i></li></a>
                    <a href="#"><li>New <i class="fa fa-angle-down" aria-hidden="true"></i></li></a>
                    <a href="#"><li>Visit Parklnn.com</li></a>
                    <a href="#"><li>Deals <i class="fa fa-angle-down" aria-hidden="true"></i></li></a>
                </ul>
            </nav>
            <div class="search-block pull-right">
                <input type="search" class="search">
                <button type="submit" class="btn-search"><span class="fa fa-search"></span></button>
            </div>
        </header>
        <!-- End header -->
        <!-- Breadcrumb -->
        <section class="breadcrumb">
            <div class="container">
                <a href="#">Home</a> <i class="fa fa-angle-right"></i><a href="#"> Stories</a> <i class="fa fa-angle-right"></i><a href="#"> Town</a> <i class="fa fa-angle-right"></i><a href="#"> UK & Ireland</a> <i class="fa fa-angle-right"></i> <a href="#"> Autumn running in London</a>
            </div>
        </section>
        <!-- End breadcrumb -->
    </section>
     <!-- End top header -->

    <!-- Caption -->
    <section class="total-caption">
        <div class="caption">
            <h1 class="title-caption">Autumn running in London</h1>
        </div>
        <div class="caption-2">
            <h2 class="title-caption-2">UK & Ireland</h2>
        </div>
        <!-- Book your travel button -->
        <div class="button-travel">
            <button type="button" class="btn btn-primary button-book-travel">Book your travel <i class="fa fa-angle-up pull-right" aria-hidden="true"></i></button>
        </div>
        <!-- End Book your travel button -->
    </section>
    <!-- End caption -->
    <!-- Tag -->
    <section class="tag">
        <div class="container">
            <div class="text-tag pt-2 pb-2">
                <i><b>Tags: </b>Emer Casey London 10k, fun run, Glow in the Park, half Marathon, london, River Thames Half Marathon, running </i>
            </div>
        </div>
    </section>
    <!-- End tag -->
    <!-- Logo -->
    <section class="logo-icon">
        <div class="container">
            <span class="first-logo">
                <span class="first-icon">-</span>
            </span>
            <span class="number-logo">26</span>
            <i class="fa fa-facebook-official" aria-hidden="true"></i>
            <span class="number-logo">26</span>
            <i class="fa fa-twitter" aria-hidden="true"></i>
            <span class="number-logo">26</span>
            <i class="fa fa-google-plus-square" aria-hidden="true"></i>
            <span class="number-logo">26</span>
            <i class="fa fa-facebook-official" aria-hidden="true"></i>
            <span class="number-logo">26</span>
            <i class="fa fa-facebook-official" aria-hidden="true"></i>
        </div>
    </section>
    <!-- End logo -->
    <!-- Main content -->
    <section class="main-content">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-sm-12">
                    <!-- Left Content -->
                    <section class="content">
                        <div class="content-details">
                            <h1>Autumn running in London</h1>
                            <p class="mt-4"><i>The humid of summer is long gone, but the chilling winds of winter are yet to arrive. As the leaves begin to turn and temperatures stay mild, autmn is the best time for running in the British capital.</i> </p>
                            <p>With its abundant parks and leafy riverside paths, London really is a runner's city. These fantastic autumn races allow you to combine sightseeing with your exercise regime; and best of all, there's a medal at the end. Out <u>Park inn by Radisson Hotel and Conference Centre London Heathrow</u> makes the ideal base for a funning weekend in London, with plenty of comforts recovery(including a jacuzzi) and frequent public transport links into the city centre.</p>
                            <img class="mt-3" width="100%" src="image-task/Calque 21.jpg" alt="">
                        </div>
                        <div class="content-details">
                            <h2 class="mt-5">River Thames Hailf Marathon</h2>
                            <p>This scenic half marathon takes you 13.1 miles along the banks of the River Thames, on the road from Walton town centre to the Xcel Leisure Centre. Most of the route after that follows the river townpath, although there are a few miles of road work. Look out for Hampton Court Bridge around the halfway mark. The race route vi very flat, so if you don't like running up hills or want to set a new personal best, this is perfect for you. It also makes the route particularly suitable for less experienced racers, so it's a good choice for your first half marathon. Registration stays open until 16 October, and very finisher gets to walk home with a goodie bag and a bespoke medal</p>
                            <div class="mt-3">
                                <i><b><span class="color-green">When: </span> 18 October</b> </i> 
                            </div>
                            <div>
                                <b><span class="color-green">Where: </span>Walton-on-Thames</b>
                            </div>
                            <div>
                                <i><b><span class="color-green">Entry Fee: </span> $29 ($27 with a UKA competitions licence)</b></i> 
                            </div>
                        </div>
                        <div class="content-details">
                            <h2 class="mt-5">Emer Casey London 10K</h2>
                            <p>This scenic half marathon takes you 13.1 miles along the banks of the River Thames, on the road from Walton town centre to the Xcel Leisure Centre. Most of the route after that follows the river townpath, although there are a few miles of road work. Look out for Hampton Court Bridge around the halfway mark. The race route vi very flat, so if you don't like running up hills or want to set a new personal best, this is perfect for you. It also makes the route particularly suitable for less experienced racers, so it's a good choice for your first half marathon. Registration stays open until 16 October, and very finisher gets to walk home with a goodie bag and a bespoke medal</p>
                            <div class="mt-3">
                                <i><b><span class="color-green">When: </span> 1 November, 2015</b> </i> 
                            </div>
                            <div>
                                <b><span class="color-green">Where: </span>Brockwell Park</b>
                            </div>
                            <div>
                                <i><b><span class="color-green">Entry Fee: </span> $14 ($12 with a UKA competitions licence)</b></i> 
                            </div>
                        </div>
                        <div class="content-details">
                            <h2 class="mt-5">Glow in the Park 5K</h2>
                            <p>This scenic half marathon takes you 13.1 miles along the banks of the River Thames, on the road from Walton town centre to the Xcel Leisure Centre. Most of the route after that follows the river townpath, although there are a few miles of road work. Look out for Hampton Court Bridge around the halfway mark. The race route vi very flat, so if you don't like running up hills or want to set a new personal best, this is perfect for you. It also makes the route particularly suitable for less experienced racers, so it's a good choice for your first half marathon. Registration stays open until 16 October, and very finisher gets to walk home with a goodie bag and a bespoke medal</p>
                            <div class="mt-3">
                                <i><b><span class="color-green">When: </span> 14 November, 2015</b> </i> 
                            </div>
                            <div>
                                <b><span class="color-green">Where: </span>Kempton Park Racecourse</b>
                            </div>
                            <div>
                                <i><b><span class="color-green">Entry Fee: </span> $25</b></i> 
                            </div>
                        </div>
                    </section>
                </div>
                <!-- End left content -->
                <!-- Right content -->
                <div class="col-md-4 col-sm-12  pl-4">
                    <!-- Follow-icon -->
                    <section class="follow">
                        <h3 class="title-right-content">Follow us</h3>
                        <div class="follow-icon">
                            <a href=""><i class="fa fa-facebook-official" aria-hidden="true"></i></a> 
                            <a href=""><i class="fa fa-twitter" aria-hidden="true"></i></a> 
                            <a href=""><i class="fa fa-instagram" aria-hidden="true"></i></a> 
                            <a href=""><i class="fa fa-google-plus-square" aria-hidden="true"></i></a> 
                        </div>
                    </section>
                    <!-- End follow-icon -->
                    <!-- Subcribe form -->
                    <section class="subcribe">
                        <h3 class="title-right-content mt-5">Subcribe to our newsletter</h3>
                        <div class="email">
                            <input type="text" placeholder="Enter your e-mail">
                        </div>
                        <div class="subcribe-button">
                            <button class="btn btn-info" type="submit">Subcribe <i class="fa fa-angle-right"></i></button>
                        </div>
                    </section>
                    <!-- End Subcribe form -->
                    <!-- Similar Posts -->
                    <section class="similar-posts">
                        <h3 class="title-right-content mt-5">Similar Posts</h3>
                        <div class="row mt-4">
                            <div class="col-5">
                                <a href="#">
                                    <div class="img-left">
                                        <img src="image-task/img1.png" width="100%" alt="">
                                    </div>
                                </a>
                            </div>
                            <div class="col-7">
                                <div class="text-similar-right">
                                    <div class="button-similar">
                                        <a href="#" class="btn btn-dark russia">Russia</a>
                                    </div>
                                    <div class="link-post">
                                        <a href="#">A visitor's bucket list to St. Petersburg</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-4">
                            <div class="col-5">
                                <a href="">
                                    <div class="img-left">
                                        <img src="image-task/img2.png" width="100%" alt="">
                                    </div>  
                                </a>
                            </div>
                            <div class="col-7">
                                <div class="text-similar-right">
                                    <div class="button-similar">
                                        <a href="#" class="btn btn-dark europe">Europe</a>
                                    </div>
                                    <div class="link-post">
                                        <a href="#">Park Inn Arrives In Bucharest</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-4">
                            <div class="col-5">
                                <a href="#">
                                    <div class="img-left">
                                        <img src="image-task/img3.png" width="100%" alt="">
                                    </div>
                                </a> 
                            </div>
                            <div class="col-7">
                                <div class="text-similar-right">
                                    <div class="button-similar">
                                        <a href="#" class="btn btn-dark middle-east">Middle East</a>
                                    </div>
                                    <div class="link-post">
                                        <a href="#">6 ways to feel an adrenaline rush in Dubai</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-4">
                            <div class="col-5">
                                <a href="#">
                                    <div class="img-left">
                                        <img src="image-task/img4.png" width="100%" alt="">
                                    </div>
                                </a>
                            </div>
                            <div class="col-7">
                                <div class="text-similar-right">
                                    <div class="button-similar">
                                        <a href="#" class="btn btn-dark middle-east">Middle East</a>
                                    </div>
                                    <div class="link-post">
                                        <a href="#">4 Things you must see and do when in Dammam</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <!-- End Similar Posts -->
                </div>
            </div>
            <!-- Logo -->
            <section class="logo-icon-2">
                <span class="first-logo">
                    <span class="first-icon">-</span>
                </span>
                <span class="number-logo">26</span>
                <i class="fa fa-facebook-official" aria-hidden="true"></i>
                <span class="number-logo">26</span>
                <i class="fa fa-twitter" aria-hidden="true"></i>
                <span class="number-logo">26</span>
                <i class="fa fa-google-plus-square" aria-hidden="true"></i>
                <span class="number-logo">26</span>
                <i class="fa fa-facebook-official" aria-hidden="true"></i>
                <span class="number-logo">26</span>
                <i class="fa fa-facebook-official" aria-hidden="true"></i>
            </section>
            <!-- End logo -->
        </div>
    </section>
    <!-- End Main-content -->
    <!-- Footer -->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-7 pt-5 pb-3">
                    <img src="image-task/footer.png" width="100%" alt="">
                </div>
                <div class="col-5 text-right pt-5 pb-3">
                    <div class="title">Park Inn Blog</div>
                    <div class="copyright">&copy; 2013 The carlson Rezidor Hotel Group</div>
                    <div class="term">Terms & Conditions</div>
                </div>
            </div>
        </div>
    </footer>
    <!-- End footer -->
</body>
</html>